.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.editForm h2 {
    text-align: center;
}

.editForm form {
    width: 100%;
}

.editForm label {
    display: block;
    margin-bottom: 10px;
}

.editForm input,
.editForm select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.editForm button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.editForm button:hover {
    background-color: #45a049;
}